// COLORS
$nile-blue-color: #184256;
$oxford-blue: #2e3e48;
$shark-color: #1d2124;
$athens-gray-color: #e8ebef;
$cutty-sark-color: #5b7b80;
// SPACING
$spacing-md: 10px;
$spacing-lg: 15px;

// RADIUS
$radius-sm: 4px;

// FONT
$font-size-text: 16px;
